{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":4},"end":{"row":1,"column":0},"action":"remove","lines":["",""],"id":2}],[{"start":{"row":0,"column":4},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":1,"column":0},"end":{"row":1,"column":14},"action":"insert","lines":["github-actions"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":14},"end":{"row":1,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1601638882184,"hash":"2f9e8500ccc2cf2fc0da3a9c1450a20b0aebc44c"}